{% extends "layout.html" %}

{% block pageTitle %}
DPS & LSR Prototype
{% endblock %}

{% block content %}
{% include "includes/phase-banner.html" %}

<ul id="sub-nav">
  <li><a href="applications" class="active">Applications</a></li>
  <li><a href="archive">Archive</a></li>
  {% if user %} <li><a href="reports">Reports</a></li> {% endif %}
</ul>

<div class="govuk-tabs" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#new-apps">
        New <span class="badge">100</span>
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#in-progress">
        In progress <span class="badge">100</span>
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#ready-for-team-leader">
        Ready for team leader <span class="badge">100</span>
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="new-apps">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">New applications</h2>
        <p>Showing 1 to 10, of 100</p>
      </div>
      <div class="govuk-grid-column-one-third govuk-table__cell--numeric">
        <a href="#in-progress" class="govuk-button">Print</a>
      </div>
    </div>

    <table class="table-clickable govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header multiple-choice--hod">
            <div class="govuk-checkboxes__item">
              <input type="checkbox" class="govuk-checkboxes__input jsCheckboxAll" id="radio-all">
              <label class="govuk-label govuk-checkboxes__label" for="radio-all">
                &nbsp;
              </label>
            </div>
          </th>
          <th class="govuk-table__header">PEX</th>
          <th class="govuk-table__header">Name</th>
          <th class="govuk-table__header">Collection date</th>
          <th class="govuk-table__header">Collection time</th>
          <th class="govuk-table__header">Collection office</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for applications in newApplications | sort(false, true, 'collectionDate') %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell multiple-choice--hod">
            <div class="govuk-checkboxes__item">
              <input type="checkbox" class="govuk-checkboxes__input jsCheckbox" id="radio-1">
              <label class="govuk-label govuk-checkboxes__label" for="radio-1">
                &nbsp;
              </label>
            </div>
          </td>
          <td class="govuk-table__cell">{{ applications.id }}</td>
          <td class="govuk-table__cell">{{ applications.name }}</td>
          <td class="govuk-table__cell">{{ applications.collectionDate }}</td>
          <td class="govuk-table__cell">{{ applications.collectionTime }}</td>
          <td class="govuk-table__cell">{{ applications.collectionOffice }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <section class="govuk-tabs__panel" id="in-progress">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">In progress</h2>
        <p>Showing 1 to 10, of 100</p>
      </div>
      <div class="govuk-grid-column-one-third govuk-table__cell--numeric">
        <a href="#ready-for-team-leader" class="govuk-button">Ready for team leader</a>
      </div>
    </div>

    <table class="table-clickable govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header multiple-choice--hod">
            <div class="govuk-checkboxes__item">
              <input type="checkbox" class="govuk-checkboxes__input jsCheckboxAll" id="radio-all" disabled>
              <label class="govuk-label govuk-checkboxes__label" for="radio-all">
                &nbsp;
              </label>
            </div>
          </th>
          <th class="govuk-table__header">PEX</th>
          <th class="govuk-table__header">Name</th>
          <th class="govuk-table__header">Collection date</th>
          <th class="govuk-table__header">Collection time</th>
          <th class="govuk-table__header">Collection office</th>
          <th class="govuk-table__header">Printed by</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for applications in newApplications | sort(false, true, 'collectionDate') %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell multiple-choice--hod">
            <div class="govuk-checkboxes__item">
              <input type="checkbox" class="govuk-checkboxes__input jsCheckbox" id="radio-1">
              <label class="govuk-label govuk-checkboxes__label" for="radio-1">
                &nbsp;
              </label>
            </div>
          </td>
          <td class="govuk-table__cell">{{ applications.id }}</td>
          <td class="govuk-table__cell">{{ applications.name }}</td>
          <td class="govuk-table__cell">{{ applications.collectionDate }}</td>
          <td class="govuk-table__cell">{{ applications.collectionTime }}</td>
          <td class="govuk-table__cell">{{ applications.collectionOffice }}</td>
          <td class="govuk-table__cell">Jhon Doe</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <section class="govuk-tabs__panel" id="ready-for-team-leader">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Ready for team leader</h2>
        <p>Showing 1 to 10, of 100</p>
      </div>
      <div class="govuk-grid-column-one-third govuk-table__cell--numeric">
        {% if user === 'teamleader' %}
        <a href="/" class="govuk-button">Archive</a>
        {% endif %}
      </div>
    </div>

    <table class="table-clickable govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header multiple-choice--hod">
            <div class="govuk-checkboxes__item">
              <input type="checkbox" class="govuk-checkboxes__input jsCheckboxAll" id="radio-all">
              <label class="govuk-label govuk-checkboxes__label" for="radio-all">
                &nbsp;
              </label>
            </div>
          </th>
          <th class="govuk-table__header">PEX</th>
          <th class="govuk-table__header">Name</th>
          <th class="govuk-table__header">Collection date</th>
          <th class="govuk-table__header">Collection time</th>
          <th class="govuk-table__header">Collection office</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for applications in newApplications | sort(false, true, 'collectionDate') %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell multiple-choice--hod">
            <div class="govuk-checkboxes__item">
              <input type="checkbox" class="govuk-checkboxes__input jsCheckbox" id="radio-1">
              <label class="govuk-label govuk-checkboxes__label" for="radio-1">
                &nbsp;
              </label>
            </div>
          </td>
          <td class="govuk-table__cell">{{ applications.id }}</td>
          <td class="govuk-table__cell">{{ applications.name }}</td>
          <td class="govuk-table__cell">{{ applications.collectionDate }}</td>
          <td class="govuk-table__cell">{{ applications.collectionTime }}</td>
          <td class="govuk-table__cell">{{ applications.collectionOffice }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

</div>

{% endblock %}
