{% extends "layout.html" %}

{% block pageTitle %}
DPS & LSR Prototype
{% endblock %}

{% block content %}
{% include "includes/phase-banner.html" %}

<ul id="sub-nav">
  <li><a href="applications">Applications</a></li>
  <li><a href="archive" class="active">Archive</a></li>
  {% if user %} <li><a href="reports">Reports</a></li> {% endif %}
</ul>

<h2 class="govuk-heading-l">Archive</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <div class="govuk-form-group">
      <label class="govuk-label" for="name">
        PEX
      </label>
      <input class="govuk-input" id="name" name="name" type="text">
    </div>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <label class="govuk-label" for="name" style="visibility: hidden;">
      PEX
    </label>
    <button type="submit" class="govuk-button">
      Search
    </button>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>Search results for <b>PEX2310110</b></p>
  </div>
</div>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">PEX</th>
      <th class="govuk-table__header">Name</th>
      <th class="govuk-table__header">Collection date</th>
      <th class="govuk-table__header">Collection time</th>
      <th class="govuk-table__header">Collection office</th>
      <th class="govuk-table__header">Printed by</th>
      <th class="govuk-table__header">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">PEX2310110</td>
      <td class="govuk-table__cell">Lacey Cervantes</td>
      <td class="govuk-table__cell">29/12/2018</td>
      <td class="govuk-table__cell">09:51</td>
      <td class="govuk-table__cell">Peterborough</td>
      <td class="govuk-table__cell">Jhon Doe</td>
      <td class="govuk-table__cell">Archived</td>
    </tr>
  </tbody>
</table>
<p>Showing 1 to 1, of 1</p>

{% endblock %}
