{% extends "layout.html" %}

{% block pageTitle %}
DPS & LSR Prototype
{% endblock %}

{% block content %}
{% include "includes/phase-banner.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <fieldset class="govuk-fieldset" style="margin-top: 2em">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
          Welcome {{user}}
        </h1>
      </legend>
      <form action="index" method="post">
        {% from "select/macro.njk" import govukSelect %}
        <!-- <h2 class="govuk-heading-l">Select your location</h2> -->
        {{ govukSelect({
          id: "office",
          name: "office",
          label: {
            text: "Select your current location"
          },
          items: [
            {
              value: "Glasgow",
              text: "Glasgow"
            },
            {
              value: "Peterborough",
              text: "Peterborough",
              selected: true
            },
            {
              value: "London",
              text: "London"
            }
          ]
        }) }}
        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>
    </fieldset>
  </div>
</div>

{% endblock %}
