{% extends "layout.html" %}

{% block pageTitle %}
DPS & LSR Prototype
{% endblock %}

{% block content %}
{% include "includes/phase-banner.html" %}

<ul id="sub-nav">
  <li><a href="applications">Applications</a></li>
  <li><a href="archive">Archive</a></li>
  {% if user %} <li><a href="reports" class="active">Reports</a></li> {% endif %}
</ul>

<h2 class="govuk-heading-l">Reports</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    {% from "date-input/macro.njk" import govukDateInput %}

    {{ govukDateInput({
      id: "date",
      namePrefix: "date"
    }) }}
  </div>
  <div class="govuk-grid-column-one-quarter">
    <label class="govuk-label" for="name" style="visibility: hidden;">
      PEX
    </label>
    <button type="submit" class="govuk-button">
      Search
    </button>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>Displaying reports for <b>26/01/2019</b></p>
  </div>
</div>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Date</th>
      <th class="govuk-table__header">Name</th>
      <th class="govuk-table__header">Actions</th>
      <th class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for report in reports %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">26/01/2019</td>
      <td class="govuk-table__cell">{{ report.name }}</td>
      <td class="govuk-table__cell"><a href="">Download</a></td>
      <td class="govuk-table__cell"><a href="">Print</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p>Showing 1 to 8, of 8</p>

{% endblock %}
