
{% extends "layout.html" %}

{% block pageTitle %}
  DPS & LSR Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        DPS & LSR Prototype
      </h1>

      <h2 class="govuk-heading-m">About</h2>

      <p>This prototype has been designed for the Sepora Steria LSR and DPS processing teams.
      Aims to improve their workflow.</p>

      <h2 class="govuk-heading-m">Versions</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/v1/login">V1</a></li>
      </ul>
    </div>
</div>

{% endblock %}
